<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>opt_1_1</string>
	<key>2</key>
	<string>opt_1_2</string>
	<key>3</key>
	<string>opt_1_3</string>
	<key>4</key>
	<string>opt_1_4</string>
	<key>5</key>
	<string>opt_1_5</string>
	<key>6</key>
	<string>opt_1_6</string>
	<key>7</key>
	<string>opt_1_7</string>
	<key>8</key>
	<string>opt_1_8</string>
	<key>9</key>
	<string>opt_1_9</string>
	<key>10</key>
	<string>opt_1_10</string>
	<key>11</key>
	<string>opt_1_11</string>
	<key>12</key>
	<string>opt_1_12</string>
	<key>13</key>
	<string>opt_1_13</string>
	<key>14</key>
	<string>opt_1_14</string>
	<key>15</key>
	<string>opt_1_15</string>
</dict>
</plist>
